{%- assign page_title = page.title | default: site.title -%}
{%- assign page_description = page.description | default: page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 -%}
{%- assign page_url = page.url | absolute_url -%}
{%- assign site_url = site.url | default: site.github.url | default: 'https://ebaker.me.uk' -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "{{ site_url }}/#person",
      "name": {{ site.author | default: site.title | jsonify }},
      "url": {{ site_url | jsonify }},
      "sameAs": {{ site.social.links | default: nil | jsonify }}
    },
    {
      "@type": "WebSite",
      "@id": "{{ site_url }}/#website",
      "name": {{ site.title | jsonify }},
      "url": {{ site_url | jsonify }},
      "description": {{ site.description | jsonify }},
      "publisher": { "@id": "{{ site_url }}/#person" }
    },
    {
      "@type": "WebPage",
      "@id": "{{ page_url }}#webpage",
      "url": {{ page_url | jsonify }},
      "name": {{ page_title | jsonify }},
      "description": {{ page_description | jsonify }},
      "isPartOf": { "@id": "{{ site_url }}/#website" },
      "publisher": { "@id": "{{ site_url }}/#person" }
    }
    {%- if page.layout == "post" -%}
    ,
    {
      "@type": "BlogPosting",
      "@id": "{{ page_url }}#article",
      "headline": {{ page.title | jsonify }},
      "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
      "dateModified": {{ page.last_modified_at | default: page.date | date_to_xmlschema | jsonify }},
      "author": { "@id": "{{ site_url }}/#person" },
      "publisher": { "@id": "{{ site_url }}/#person" },
      "mainEntityOfPage": { "@id": "{{ page_url }}#webpage" },
      "keywords": {{ page.tags | default: nil | jsonify }}
    }
    {%- endif -%}
  ]
}
</script>
