<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/imgs/favicon.png" />

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MWKRFQRC');</script>
  <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWKRFQRC"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <header style="position:unset;">
        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }} <small>FLS ARCS</small></a>
        </h1>

        <img src="/imgs/me.png" alt="Picture of Ed Baker." height="661" width="350"/>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        <p class="view">
          <a href="{{ site.github.owner_url }}">GitHub Profile</a> |
          <a href="/cv">CV</a></a> |
          <a href="/media">Media</a>
        </p>
        
        <h2>Latest publications</h2>
        <p class="view"><a href="/pubs/2023_02_Guidelines.pdf">Good practice guidelines for long-term ecoacoustic monitoring in the UK</a></p>

        <p class="view"><a href="https://scholar.google.com/citations?user=44XAtwYAAAAJ">Google Scholar</a></p>
        
        <h2>Talks</h2>
        <p class="view">24/04/2024 - How data in the cloud could help restore UK's biodiversity - AWS Summit 2024</p>
        <p class="view"><a href="/talks/2024-Hull">03/2024 - Next generation monitoring at the Natural History Museum</a></p>
        <p class="view"><a href="/talks/2023-11-NR">11/2023 - UK Nature Recovery theme Town Hall</a></p>
        <p class="view"><a href="/talks/2023-11-GS">11/2023 - Garden Science workshop</a></p>
        <p class="view"><a href="/talks/2023-IBAC">10/2023 - IBAC 2023</a></p>
        <p class="view"><a href="/talks/2023-09-RSPB">09/2023 - RSPB/Kelvingrove Museum</a></p>
        <p class="view"><a href="/talks">All talks</a></p>
        
        <h2>Notes</h2>
        <p class="view"><a href="/notes/prophalangopsis"><i>Prophalangopsis obscura</i></a></p>
        <p class="view"><a href="/notes/linux-audio-recipes">Linux audio recipes</a></p>
        <p class="view"><a href="/notes/acoustics-figures">Acoustics figures</a></p>
        <p class="view"><a href="/notes">All notes</a></p>
        
        <p>Some thoughts on:</p>
        <ul>
          <li><a href="bioacoustics">Bioacoustics</a></li>
          <li><a href="sensor-networks">Sensor networks</a></li>
          <li><a href="mathematical-visualisations">Mathematical visualisations</a>
        </ul>
        
        {% assign sorted = site.html_pages | sort:"rank" %}
        {% for item in sorted %}
          {% if item.path != "index.md" and item.title and item.rank %}
            <li>
              <a href="{{ item.path | replace:'.md','.html' }}">{{ item.title }}</a>
              <!-- <span> [ {{ item.path }} - {{ item.title }} - {{ item.rank }} ] </span> -->
            </li>
          {% endif %}
        {% endfor %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
