<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/imgs/favicon.png" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MWKRFQRC');</script>
  <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWKRFQRC"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <header style="position:unset;">
        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }} <small>FLS ARCS</small></a>
        </h1>

        <img src="/imgs/me.png" alt="Picture of Ed Baker." height="661" width="350"/>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        <p class="view">
          <a href="{{ site.github.owner_url }}">GitHub</a> |
          <a href="/cv">CV</a></a> |
          <a href="/media">Media</a> |
          <a href="/social"> Social</a>
        </p>
        
        <h2>Latest publications</h2>
        <ul>
          {% for pub in site.data.publications limit: 4 %}
          <li><a href="{{ pub.url }}">{{ pub.title }}</a></li>
          {% endfor %}
        </ul>
        <p class="view"><a href="/publications">All publications</a></p>
        <p class="view"><a href="https://scholar.google.com/citations?user=44XAtwYAAAAJ">Google Scholar</a></p>
        <p class="view" style="font-size: smaller;"><a href="/pubs/wikidata-author-cloud">Co-authorship Cloud</a></p>

        <h2>Latest blog posts</h2>
        <ul>
          {% for post in site.posts limit: 5 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <p class="view"><a href="/all_posts">All blog posts</a></p>

        <h2>Talks</h2>
        <ul>
          {% for talk in site.data.talks limit: 5 %}
          <li><a href="{{ talk.url }}">{{ talk.date }} - {{ talk.title }}</a></li>
          {% endfor %}
        </ul>
        <p class="view"><a href="/talks">All talks</a></p>
        
        <h2>Notes</h2>
        <ul>
          {% assign note_pages = site.pages | where_exp: "p", "p.note_category" | sort: "title" %}
          {% for note in note_pages limit: 4 %}
          <li><a href="{{ note.url }}">{{ note.title }}</a></li>
          {% endfor %}
        </ul>
        <p class="view"><a href="/notes">All notes</a></p>
        
        <h2>Some thoughts on</h2>
        <ul>
          {% for topic in site.data.topics %}
          <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
          {% endfor %}
        </ul>
        
        {% assign sorted = site.html_pages | sort:"rank" %}
        {% for item in sorted %}
          {% if item.path != "index.md" and item.title and item.rank %}
            <li>
              <a href="{{ item.path | replace:'.md','.html' }}">{{ item.title }}</a>
              <!-- <span> [ {{ item.path }} - {{ item.title }} - {{ item.rank }} ] </span> -->
            </li>
          {% endif %}
        {% endfor %}
      </header>
      <section>

      {% include breadcrumbs.html %}

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
